{# admin.twig #}
{% extends 'admin/layout.twig' %}

{% block  title %}ログイン{% endblock %}

{% block contents %}
<h2>問い合わせ一覧</h2>
検索:
<form action="./top.html">
お名前(あいまい検索): <input><br>
問い合わせ日時:<input type="date"> ～ <input type="date"><br>
返信有無: <input type="checkbox" name="reply_flg[]">未返信　<input type="checkbox" name="reply_flg[]">返信済み<br>
<button>検索する</button>
</form>
<br>

<table border="1">
<tr>
  <th>問い合わせ日時 ↑ <a href="top.html">↓</a>
  <th>お名前 <a href="top.html">↑</a> <a href="top.html">↓</a>
  <th>返信有無
  <th>問い合わせ本文(最初の20文字)
{% for key, val in inquiry_list %}
<tr>
  <td>{{ val.created_at }}
  <td>{{ val.name }}
  <td>{% if  val.reply_at == null %}未返信{% else %}返信済み{% endif %}
  <td>{{ val.body | slice(0,20) }}
  <td><a href="./inquiry_detail.php?inquiry_id={{ val.inquiry_id | e('url') }}">詳細</a>
{% endfor %}

</table>
{% endblock %}
