{# admin.twig #}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>問い合わせ 管理画面</title>
</head>

<body>
<h1>ログイン</h1>

<form action="./admin_login.php" method="POST">
id: <input name="id" value=""><br>
password: <input type="password" name="pw"><br>
<button>ログイン</button>
</form>

</body>
</html>
