<!-- top.html -->
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>問い合わせ</title>
</head>
<body>
<h1>問い合わせ一覧</h1>

検索:
<form action="./top.html">
お名前(あいまい検索): <input><br>
問い合わせ日時:<input type="date"> ～ <input type="date"><br>
返信有無: <input type="checkbox" name="reply_flg[]">未返信　<input type="checkbox" name="reply_flg[]">返信済み<br>
<button>検索する</button>
</form>
<br>

<table border="1">
<tr>
  <th>問い合わせ日時 ↑ <a href="top.html">↓</a>
  <th>お名前 <a href="top.html">↑</a> <a href="top.html">↓</a>
  <th>返信有無
  <th>問い合わせ本文(最初のｎ文字)
<tr>
  <td>2020/05/25 11:00:00
  <td>山田太郎
  <td>
  <td>問い合わせ...
  <td><a href="./inquiry_detail.html">詳細</a>
<tr>
  <td>2020/05/24 11:00:00
  <td>山田花子
  <td>返信済み
  <td>問い合わせ...
  <td><a href="./inquiry_detail.html">詳細</a>
<tr>
  <td>2020/05/24 10:00:00
  <td>山田花子
  <td>
  <td>問い合わせ...
  <td><a href="./inquiry_detail.html">詳細</a>
</table>
</body>
</html>
