{#  layout_base.twig  #}
{# 全てのbaseになるレイアウト #}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>問い合わせ管理画面 {% block  title %}{% endblock %}</title>
</head>
<body>
{% block  body %}{% endblock %}
</body>
</html>
