{# inquiry.twig #}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>問い合わせ</title>
</head>

<body>
<div class="memo">
※frontの問い合わせform<br>
</div>

<h1>お問い合わせ</h1>
<form action="./inquiry_confirm.php" method="POST">
お名前: <input name="name"><br>
emailアドレス(必須): <input name="email"><br>
問い合わせ内容(必須): <textarea name="body" rows="5" cols="50"></textarea>
<br>
<button>問い合わせる</button>
</form>


</body>
</html>
